@import url('https://fonts.googleapis.com/css2?family=Handjet&family=Inconsolata&display=swap');

:root {
    --primary : #005000;
    --alphaPrimary : #00500033;
    --bg-color : #ffcd83;
    --bg-item : #fff;
    --baseColor : #eee;
}

* {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 2% 0;
}

body {
    padding: 20px;
    background-color: var(--bg-color);
    font-family: 'Inconsolata', monospace;  
    color: var(--primary);
}

.pokemonSec {
    padding: 20px;
    background-color: var(--bg-item);
    width: 600px;
    display: flex;
    flex-direction: column;
   margin: auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.baseStatDiv {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 3% 0;
}

.baseElement {
    background-color: var(--baseColor);
    width: 180px;
    height: 50px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.types {
    display: flex;
    gap: 10px;
}

.typeElement {
    background-color: var(--baseColor);
    padding: 10px;
    border-radius: 1rem;
}

.moves {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3% 0;
}

.movesSpan {
    background-color: var(--baseColor);
    border-radius: 1rem;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}